<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>$(API_KEY)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>googleSignIn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.500615670694-qdgqa8agkf4otbds3qgoh7iriv8cu366</string>
			</array>
		</dict>
	</array>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-9317484617449456~5534434331</string>
	<key>SKAdnetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>cstr6suwn9.skadnetwork</string>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>500615670694-qdgqa8agkf4otbds3qgoh7iriv8cu366.apps.googleusercontent.com</string>
	<key>UIAppFonts</key>
	<array>
		<string>ComicNeue-Regular.ttf</string>
		<string>ComicNeue-Bold.ttf</string>
		<string>OpenSans.ttf</string>
	</array>
</dict>
</plist>
