<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>500615670694-qdgqa8agkf4otbds3qgoh7iriv8cu366.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.500615670694-qdgqa8agkf4otbds3qgoh7iriv8cu366</string>
	<key>API_KEY</key>
	<string>AIzaSyBBpFatlMbwg0Lhi7u0MZ0_MPmW5dJNuDA</string>
	<key>GCM_SENDER_ID</key>
	<string>500615670694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.parpods.Imagine-Tales</string>
	<key>PROJECT_ID</key>
	<string>tales-471a7</string>
	<key>STORAGE_BUCKET</key>
	<string>tales-471a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500615670694:ios:d3acfa1048fd1b64897d67</string>
</dict>
</plist>